{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
			<tr>	
				<td><a href="/usuarioslista"> <button type="button" class="btn btn-primary">Atras</button></a></td>
				
			</tr>	
		</table>
	</div>
	<div class="row">
		<div class="col-xs-12">
		<form  method="post" id="formacessos" action="/accesoslista">
		<input type="hidden" name="idUsuario" value="{{idUsuario}}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Menu</th>
					{% for acceso in accesos %}
						<th>{{acceso.descripcion}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for menu in menues %}
				<tr>
					<td>{{ menu.id }}</td>
					<td>{{ menu.titulo }}</td>
					{% for acceso in accesos %}
						{% if usuario_accesos.length %}
						<!-- {{acceso.short}} -->
							<td>
								{% if usuario_accesos[menu.id - 1][acceso.short] == 1 %}
									<input type="checkbox" class="chk" name="{{menu.id + '-' + acceso.descripcion}}" checked="true" data-menuid="{{menu.id}}" data-acceso="{{acceso.short}}" data-idusuario="{{idUsuario}}">
								{% else %}		
									<input type="checkbox" class="chk" name="{{menu.id + '-' + acceso.descripcion}}" data-menuid="{{menu.id}}" data-acceso="{{acceso.short}}" data-idusuario="{{idUsuario}}">
								{% endif %}
							</td>
						{% else %}
							<td>
								<input type="checkbox" class="chk" name="{{menu.id + '-' + acceso.descripcion}}" data-menuid="{{menu.id}}" data-acceso="{{acceso.short}}" data-idusuario="{{idUsuario}}">
							</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
			<!-- <tfoot>
				<tr>
					<td colspan="6">
						<input type="submit" value="Guardar">
					</td>
				</tr>
			</tfoot> -->
		  </table>
		</form>				
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
	$(".chk").on("change", function (){
		var id_menu = $(this).data("menuid");
		var acceso_short = $(this).data("acceso");
		var id_usuario = $(this).data("idusuario");

		// var $chk = $(this);
	    // $this will contain a reference to the checkbox   
	    if (this.checked) {
	    	// console.log("checked "+id_menu+" "+acceso_short);
	    	// the checkbox was checked
	        $.post("/updateacceso/"+id_usuario+"/"+id_menu+"/"+acceso_short+"/1", function( data ) {
				console.log(data)
			});
	    } else {
	    	// console.log("unchecked "+id_menu+" "+acceso_short)
	        // the checkbox was unchecked
	        $.post("/updateacceso/"+id_usuario+"/"+id_menu+"/"+acceso_short+"/0", function( data ) {
				console.log(data)
			});
	    }
	});
</script>
{% endblock %}