<html>
<head>
	<title>Impresion de Orden de Compra</title>
	<link rel="icon" href="/uploads/maresa.jpg">
</head>
<body>
<table border="1">
	<!-- PRIMER RENGLON -->
	<tr>	
		<td>
			<!-- COLUMNA DE LA IZQ -->
			<table border="1">
				<tr>
					<td><img src="/uploads/maresagrande.jpg"></td>
				</tr>
				<tr>
					<td>Direccion:</td>
				</tr>
				<tr>
					<td>Tel:</td>
				</tr>
				<tr>
					<td>Mail:</td>
				</tr>
			</table>
		</td>
		<td style="padding: 0px;" topMargin="0">
			<!-- COLUMNA DE LA DERECHA -->
			<table border="1" style="height: 100%;"  cellspacing="0" cellpadding="0" valign="top">
				<tr>	
					<td>ORDEN DE COMPRA</td>
					<td>fecha<br>hora</td>
				</tr>
				<tr>
					<td colspan="2">Nro</td>
				</tr>
				<tr>	
					<td>Emitida: fecha</td>
					<td>Entregada: fecha</td>
				</tr>
				<tr>	
					<td>CUIT nro</td>
					<td>iva</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
</table>
</body>
</html>