{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<!-- <link href="/css/paalta.css" rel="stylesheet"> -->
<link href="/css/toastr.css" rel="stylesheet"/>
<!-- este html es la vista intentando guardar el PA con post desde el form -->
<!-- esta vista es la que se utiliza, la v1 es la version anterior, esta seria la "v2" -->
<h2>{{ pagename }}</h2>
<input hidden name="aArt" id="aArt" value="{{ articulos }}">
<form method="post" id="formalta" action="/paalta">	
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table style="width: 100%;">
			<tr>	
				<td style="width: 46px;"><button type="button" onclick="history.back();"class="btn btn-primary">Atras</button></a></td>
				<td style="width: 90px;"><button type="button" id="addArt" name="addArt" class="btn btn-success">Agregar Art.</button></td>
				<td style="width: 52px;"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
				<td style="min-width:350px; width:auto;">
					<table style="float: right;">
						<tr>
							<td style="width: 110px;">
								<table>
									<tr>
										<td>Fecha:</td>
										<td><input type="text" id="fecha_generacion" name="fecha_generacion" class="datepicker form-control" style="width: 180px;" readonly></td>
									</tr>
								</table>
							</td>
							<td style="width: 3px;">&nbsp;&nbsp;</td>
							<td>
								<table>
									<tr>
										<td>Sector:</td>
										<td>
											<select class="form-control" id="sector" name="sector">
												{% for s in sectores %}
													<option value="{{ s.id }}">{{ s.nombre }}</option>
												{% endfor %}
											</select>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>	
		</table>
	</div>	
		<input hidden id="objDatos" name="objDatos">
		<table align="center" id="tableArt" class="table table-striped">
			<thead>
					<tr>				
					<th>Articulo</th>
					<th>Cantidad</th>
					<th>Centro de Costo</th>
					<th>Urgente</th>
					<th>Opciones</th>
				</tr>
				</thead>
				<tbody id="tbody">
					
				</tbody>
		</table>
		<div class="panel-footer">
			<table  align="center">
				<td><button type="submit" id="guardar" class="btn btn-primary">Guardar PA.</button></td>
				<td style="width: 50px;"></td>
				<td><button type="button" id="descartar" class="btn btn-warning">Descartar</button></td>
			</table>
		</div>		
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/toastr.js"></script>
<script type="text/javascript">

	$("#addArt").on("click", function (){
		window.location = '/paaltaart/';
	});

	if('localStorage' in window && window['localStorage'] !== null) {
    	var objDatos = localStorage.getItem('objDatos');
    	var objDatos = JSON.parse(objDatos);
    	if (objDatos.limpiar == '1'){
    		toastr.options = {
			  	"closeButton": false,
			  	"debug": false,
			  	"newestOnTop": false,
			  	"progressBar": true,
			  	"positionClass": "toast-top-right",
			  	"preventDuplicates": false,
			  	"onclick": null,
			  	"showDuration": "300",
			  	"hideDuration": "1000",
			  	"timeOut": "3000",
			  	"extendedTimeOut": "1000",
			  	"showEasing": "swing",
			  	"hideEasing": "linear",
			  	"showMethod": "fadeIn",
			  	"hideMethod": "fadeOut"
			}

			toastr["success"]("El pedido de abastecimiento ha sido creado con exito.", "Exito!");

    		localStorage.clear();

    		aArt=[];
            objDatos = {
                'fecha': '',
                'sector': '1',
                'limpiar':'0',
                'aArticulos': aArt
            }

            var objDatos_stringified = JSON.stringify(objDatos);
            $("#objDatos").val(objDatos_stringified);
            if (localStorage.length == 0){
                localStorage.setItem('objDatos', objDatos_stringified);
            }
    	}
    } else { 
		alert('No soporta LocalStorage. Actualize el navegador !!'); 
	}

	$("#objDatos").change(function (){
		objDatos = $("#objDatos").val();
		console.log(objDatos);
	});

	

	$(function() {
	    console.log( "doc ready!" );
	    

		$("#formalta").submit(function( event ) {
			// console.log("en on submit");		
			var objDatos = localStorage.getItem('objDatos');
			var objDatos_parsed = JSON.parse(objDatos);

			var fecha = objDatos_parsed.fecha;
			var sector = objDatos_parsed.sector;
			var aArt = objDatos_parsed.aArticulos;
			
			if (fecha != '0000-00-00' && fecha != '' && fecha.length != 0 && sector != '' && aArt.length > 0){
				// alert("if true!!")
				var objDatos = localStorage.getItem('objDatos');
				var objDatos = JSON.parse(objDatos);
				objDatos.limpiar = 1;
				var objDatos_stringified = JSON.stringify(objDatos);
				$("#objDatos").val(objDatos_stringified);
				
				localStorage.setItem('objDatos', objDatos_stringified);
			}else{
				event.preventDefault();
				alert("Por favor cargue todos los datos necesarios para dar de alta.");				
			}
		});

	    var objDatos = localStorage.getItem('objDatos');
		parsed = JSON.parse(objDatos);

	    $(".datepicker").datepicker({
		    format: 'dd/mm/yyyy',
			autoclose: true,
			language: 'ES'
		}).on("changeDate", function (e) {
		    if('localStorage' in window && window['localStorage'] !== null) {
				// console.log('Genial, tenemos un navegador decente que soporta LocalStorage');
				objDatos = localStorage.getItem('objDatos');
				objDatos = JSON.parse(objDatos);
				fecha_generacion = $("#fecha_generacion").val();
	 			objDatos.fecha = fecha_generacion;
				objDatos_stringified = JSON.stringify(objDatos);
				$("#objDatos").val(objDatos_stringified);

				//CONSOLE PARA VERIFICAR COMO SE ESTA TRABAJANDO
				// console.log("2");
				// console.log(objDatos);

				localStorage.setItem('objDatos', objDatos_stringified);
				console.log("Fecha actualizada en localStorage");
			} else { 
				alert('No soporta LocalStorage. Actualize el navegador !!'); 
			}
		});

		//para poner los valores en los inputs (fecha gen o sector), o la lista de articulos
			if('localStorage' in window && window['localStorage'] !== null) {
				// console.log('Genial, tenemos un navegador decente que soporta LocalStorage');
				//localStorage

				objDatos = localStorage.getItem('objDatos');
				objDatos = JSON.parse(objDatos);
				// console.log(objDatos)
				if (objDatos.fecha != ''){
					fecha_gen = objDatos.fecha;
					$("#fecha_generacion").val(fecha_gen);
				}else{
					console.log("fecha no cargada aun");
				}

				if (objDatos.sector != ''){
					$("#sector").val(objDatos.sector);
				}else{
					console.log("sector no elegido aun")
				}

				aArt = objDatos.aArticulos;
				// console.log(aArt.length);

				var string = "";
				var urgente ="-";

				for (var i = 0; i < aArt.length; i++) {
					if (aArt[i].urgente == 1)
						urgente = "Si";
					else if (aArt[i].urgente == 0)
						urgente = "No";

					string = string + "<tr><td><input hidden class='id_articulo_fk' id='id_articulo_fk' value='"+aArt[i].id_articulo_fk+"'>"
					+aArt[i].txtarticulo+"</td>"
					+"<td>"+aArt[i].cantidad+"</td>"
					+"<td><input hidden class='id_centrocosto_fk' id='id_centrocosto_fk' value='"+aArt[i].id_centrocosto_fk+"'>"
					+aArt[i].txtcentrodecosto+"</td>"
					+"<td>"+urgente+"</td><td><button type='button' name='borrar' id='borrar' class='borrar btn btn-danger' data-index="+i+" >Borrar</button></td></tr>"
					// +"<td>"+urgente+"</td><td><button type='button' name='borrar' id='borrar' class='btn btn-danger' data-id_art="+aArt[i].id_articulo_fk+" data-cantidad="+aArt[i].cantidad+" data-id_centrocosto="+aArt[i].id_centrocosto_fk+">Borrar</button></td></tr>"
				}
				$("#tableArt > tbody").append(string);			
			} else { 
				alert('No soporta LocalStorage. Actualize el navegador !!'); 
			}

		$(".borrar").on("click", function(){
	    	var index = $(this).data('index');
	    	var objDatos = localStorage.getItem('objDatos');
	    	objDatos_parsed = JSON.parse(objDatos);
	    	var aArt = objDatos_parsed.aArticulos;
	    	aArt.splice(index, 1); 
	    	objDatos_parsed.aArticulos = aArt;
	    	objDatos_stringified = JSON.stringify(objDatos_parsed);
			localStorage.setItem('objDatos', objDatos_stringified);
			$("#objDatos").val(objDatos_stringified);
			window.location = '/paalta';
	    });

		//para poner objDatos en el input hidden objDatos
		    if('localStorage' in window && window['localStorage'] !== null) {
				// console.log('Genial, tenemos un navegador decente que soporta LocalStorage');
				objDatos = localStorage.getItem('objDatos');
				objDatos = JSON.parse(objDatos);
				objDatos_stringified = JSON.stringify(objDatos);
	    		$("#objDatos").val(objDatos_stringified);
	    	}

	    $("#sector").change(function () {
	    	if('localStorage' in window && window['localStorage'] !== null) {
				// console.log('Genial, tenemos un navegador decente que soporta LocalStorage');
				objDatos = localStorage.getItem('objDatos');
				objDatos = JSON.parse(objDatos);
				id_sector = $("#sector").val();

				objDatos.sector = id_sector;
				objDatos_stringified = JSON.stringify(objDatos);
				localStorage.setItem('objDatos', objDatos_stringified);
				$("#objDatos").val(objDatos_stringified);

				console.log("Sector actualizado en localStorage");
			}else { 
				alert('No soporta LocalStorage. Actualize el navegador !!'); 
			}
	    });
	});

</script>

{% endblock %}