{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>	
			<td><button type="button" onclick="history.back();"class="btn btn-primary">Atras</button></a></td>
			<td><a href="/paalta"><button type="button" class="btn btn-success">Generar Nuevo PA</button></a></td>
			<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
		</tr>	
		</table>
	</div>
	<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
		      </div>
		      <div class="modal-body">
		        {{ ayuda.texto }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	<!-- Fin Modal -->
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
		  		<thead>
		  			<tr> 
						<th>ID</th>
						<th>Nro PA</th>
						<th>Centro de Costo</th>
						<th>Sector</th>
						<th>Responsable</th>
						<th>Fecha Necesidad</th>
						<th>Articulo</th>
						<th>Cantidad</th>
						<th>Urgente</th>
						<th>Estado</th>
						<th>Cant. Aprobada</th>
						<th>Motivo Rechazo</th>
						<th>Autorizó</th>
						<th>Fecha Autorizado</th>
						<th>Orden de compra</th>
						<th>Fecha compra</th>
					</tr>
		  		</thead>
		  		<tbody>
		  			{% for pa in PAs %}
						<tr>
							<td>{{ pa.id }}</td>
							<td>{{ pa.nro_pa}}</td>
							<td>{{ pa.id_centrocosto_fk}}</td>
							<td>{{ pa.id_sector_fk}}</td>
							<td>{{ pa.id_responsable_fk}}</td>
							<td>{{ pa.fecha_necesidad}}</td>
							<td>{{ pa.id_articulo_fk}}</td>
							<td>{{ pa.cantidad}}</td>
							<td>{{ pa.urgente}}</td>
 							<td>{{ pa.estado}}</td>
 							<td>{{ pa.cantidad_aprobada}}</td>
 							<td>{{ pa.motivo_rechazo}}</td>
 							<td>{{ pa.id_autorizo_fk}}</td>
 							<td>{{ pa.fecha_autorizado}}</td>
 							<td>{{ pa.orden_compra}}</td>
 							<td>{{ pa.fecha_compra}}</td>
						</tr>
					{% endfor %}
		  		</tbody>
			</table>				
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>

{% endblock %}