{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/pamodificar.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/pamodificar">
		<input hidden name="id_pa" id="id_pa" value="{{ pa.id }}">
		<table align="center" class="table table-striped">
			<tr>
				<td>Articulo</td>
				<td>
					<select class="form-control" id="articulo" name="articulo">
						{% for a in articulos %}
							{% if pa.id_articulo_fk == a.id %}
								<option selected value="{{ a.id }}">{{ a.Nombre }}</option>
							{% else %}
								<option value="{{ a.id }}">{{ a.Nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>	
				</td>
			</tr>
			<tr>
				<td>Cantidad:</td>
				<td><input type="text" id="cantidad" name="cantidad" required onkeyup="checkInput(this)" class="form-control" value="{{ pa.cantidad }}"></td>
			</tr>
			<tr>
				<td>Fecha Necesidad:</td>
				<td><input id="fecha_necesidad" name="fecha_necesidad" class="datepicker form-control" readonly value="{{ pa.fecha_necf }}"></td>
			</tr>
			<tr>
				<td>Responsable:</td>
				<td>	
					<select class="form-control" id="responsable" name="responsable">
						{% for e in emples %}
							{% if pa.id_responsable_fk == e.codigo %}
								<option selected value="{{ e.codigo }}">{{ e.nombre }}</option>
							{% else %}
								<option value="{{ e.codigo }}">{{ e.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Centro de Costos:</td>
				<td>	
					<select class="form-control" id="centrocosto" name="centrocosto">
						{% for c in centros %}
							{% if c.id == pa.id_centrocosto_fk %}
								<option selected value="{{ c.id }}">{{ c.nombre }}</option>
							{% else %}
								<option value="{{ c.id }}">{{ c.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Urgente:</td>
				<td>
					<select class="form-control" id="urgente" name="urgente">
						{% if pa.urgente == 0 %}
							<option selected value="0">No</option>
							<option value="1">Si</option>
						{% else %}
							<option value="0">No</option>
							<option selected value="1">Si</option>
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Sector:</td>
				<td>
					<select class="form-control" id="sector" name="sector">
						{% for s in sectores %}
							{% if s.id == pa.id_sector_fk %}
								<option selected value="{{s.id}}">{{s.nombre}}</option>
							{% else %}
								<option value="{{s.id}}">{{s.nombre}}</option>
							{% endif %}
						{% endfor %}
					</select>	
				</td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" id="btnGuardar" value="Guardar Cambios"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
	function checkInput(ob) {
	  	var invalidChars = /[^0-9]/gi
	  	if(invalidChars.test(ob.value)) {
	        ob.value = ob.value.replace(invalidChars,"");
	    }
	}

	$(function() {

	});

	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		autoclose: true,
		language: 'ES'
	});
</script>

{% endblock %}